/* Reset */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;

background:linear-gradient(135deg,#dff5ff,#f9fdff);

color:#243447;

}

/* Navigation */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:24px 8%;

position:absolute;

width:100%;

top:0;

left:0;

}

.logo{

font-size:24px;

font-weight:700;

color:#5aa9e6;

}

.menu{

display:flex;

list-style:none;

gap:30px;

}

.menu a{

text-decoration:none;

color:#243447;

font-weight:600;

}

/* Hero */

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

}

.hero h1{

font-size:72px;

line-height:1.1;

margin-bottom:25px;

}

.hero p{

font-size:22px;

max-width:700px;

margin:auto;

color:#666;

}

.buttons{

margin-top:45px;

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.primary{

background:#5aa9e6;

color:white;

padding:18px 36px;

border-radius:40px;

text-decoration:none;

font-weight:700;

}

.secondary{

border:2px solid #5aa9e6;

padding:18px 36px;

border-radius:40px;

text-decoration:none;

color:#5aa9e6;

font-weight:700;

}
